@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body{
    font-family: 'Poppins', sans-serif;
}
.bg{
    background-color: white;
    box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);
}
.color{
    color:  black;
}
.color1{
    color:  gray;
}
.navbar{
    padding: 15px;
}