@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body{
    font-family: 'Poppins', sans-serif;
}
.bg{
    background-color: white;
    box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);
}
.color{
    color:  black;
}
.color1{
    color:  gray;
}
.navbar{
    padding: 15px;
}
section{
    margin-top: 85px;
    max-width: 1520px;
    
}
.section1{
    margin-top: 85px;
    max-width: 1520px;
    
    
}
.HomeText{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(252, 252, 252);
}

.Viewbutton{
    width: 150px;
    height: 50px;
    border-radius: 1rem;
    border: none;
    color: azure;
    font-size: 13px;
}
.fullimg{
    width: 350px;
    height: 300px;
    cursor: pointer;
}
.offtext{
    color: red;
}
.greybg{
    background-color: rgb(241, 241, 241);
    padding-top: 90px;
    padding-bottom: 90px;
}
.footer{
    background-color: #000;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 15px;
    color: azure;
}


